body {
  background-color: bisque;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
  /* overflow: scroll; */
}
.container {
  background-color: aquamarine;
  width: 500px;
  /* height: 200px; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 5px;
  padding: 5px;
  flex-direction: column;
  /* overflow: scroll; */
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */
}
.content {
  width: 200px;
  height: 100px;
  border-radius: 25px;
  background-color: blueviolet;
  display: grid;
  place-items: center;
  transform: translateX(0);
  transition: all 0.5s linear;
  /* display: none; */
}
.y {
  /* display: none; */
  background-color: rgb(150, 255, 127);
  transform: translateX(0);
  opacity: 1;
  /* transition-delay: 0.5s; */
}

.content1 {
  width: 200px;
  height: 100px;
  border-radius: 25px;
  background-color: rgb(226, 95, 43);
  display: grid;
  place-items: center;
  position: relative;
  transform: translateX(-200%);
  opacity: 0;
  transition: all 0.5s linear;
  /* animation-delay: 1s; */
}
.content2 {
  width: 200px;
  height: 100px;
  border-radius: 25px;
  background-color: rgb(226, 95, 43);
  display: grid;
  place-items: center;
  position: relative;
  transform: translateX(200%);
  opacity: 0;
  transition: all 1s linear;
  /* animation-delay: 1s; */
}
